html, body {
  margin: 0;
  padding: 0;
  background-color: #404041;
  font-family: 'Courier';
  color: hsl(0, 6%, 74%);
  font-size: 9pt;
  line-height: 6pt;
}

canvas {
  display: block;
  background-color: #626264;
}
